<p id="notice"><%= notice %></p>

<h1>Listing Heatmap Points</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heatmap_points.each do |heatmap_point| %>
      <tr>
        <td><%= link_to 'Show', heatmap_point %></td>
        <td><%= link_to 'Edit', edit_heatmap_point_path(heatmap_point) %></td>
        <td><%= link_to 'Destroy', heatmap_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heatmap point', new_heatmap_point_path %>
